.box{
  width: 100px;
  height: 100px;
  background-color: tomato;
}
.box:hover{
  /* infinite 무한 반복
  alternate 처음 상태로 돌아옴 */
  animation: first-animation 2s infinite alternate;
}

@keyframes first-animation{
  0%{
    width: 100px;
  }
  50%{
    width: 250px;
  }
  100%{
    width: 500px;
  }
}

.box1{
  width: 100px;
  height: 100px;
  background-color: tomato;
  margin: 10px;
}
.box1:hover{
  animation: my-animation 3s infinite alternate;
  /* animation-name */
  /* animation-duration */
  /* animation-iteration-count */
  animation-timing-function: linear;
  animation-delay: 1s;
}

@keyframes my-animation{
  0%{
    width: 100px;
    background-color: tomato;
  }
  75%{
    width: 500px;
    background-color: dodgerblue;
  }
  100%{
    width: 300px;
    background-color: yellowgreen;
  }
}

.box2{
  width: 150px;
  height: 100px;
  background-color: tomato;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box2:hover{
  animation: my1-animation 3s infinite alternate;
  animation-timing-function: linear;
  animation-delay: 1s;
}

@keyframes my1-animation{
  0%{
    width: 100px;
    background-color: tomato;
  }
  75%{
    width: 500px;
    background-color: dodgerblue;
  }
  100%{
    width: 300px;
    background-color: yellowgreen;
  }
}

.box3{
  background-color: tomato;
}
.box3:hover{
  animation: size-up 1s 2 0s alternate linear;
  /* animation-duration: 1s;
  animation-iteration-count: 2;
  animation-delay: 0s; 
  animation-direction: alternate;
  animation-timing-function: linear;*/  
}
.box4{
  background-color: dodgerblue;
}
.box4:hover{
  animation: size-up 1s 2 alternate;
  animation-timing-function: linear;
  animation-delay: 1s;
}
.box5{
  background-color: yellowgreen;
}
.box5:hover{
  animation: size-up 1s 2 alternate;
  animation-timing-function: linear;
  animation-delay: -1s;
}

@keyframes size-up{
  0%{
    width: 150px;
  }
  100%{
    width: 500px;
  }
}

.box6{
  width: 150px;
  height: 100px;
  background-color: yellowgreen;
  border-radius: 10px;
  animation: move 2s;
  animation-iteration-count: 4;
  animation-timing-function: linear;
  /* 정방향->역방향 */
  animation-direction: alternate;
  /* 역방향 */
  /* animation-direction: reverse; */
}

@keyframes move{
  0%{
    transform: translate(0,0);
  }
  25%{
    transform: translate(100px,0);
  }
  50%{
    transform: translate(100px,100px);
  }
  75%{
    transform: translate(0,100px);
  }
  100%{
    transform: translate(0,0);
  }
}

.box7{
  width: 150px;
  height: 100px;
  background-color: yellowgreen;
  border-radius: 10px;
  margin: 10px;
  animation: move1 2s 2s;
  /* 전후 상태 관리 */
  /* none 시작->시작위치로 이동->동작->기존 위치에서 끝
  forwards 시작->시작위치로 이동->동작->애니메이션 끝 위치에서 끝
  backwords 애니메이션 시작 위치에서 시작->동작->기존 위치에서 끝
  both 애니메이션 시작 위치에서 시작->동작->애니메이션 끝 위치에서 끝 */
  animation-fill-mode: backwords;
}
@keyframes move1{
  0%{
    transform: translate(100px, 100px);
    background-color: dodgerblue;
  }
  100%{
    transform: translate(300px, 100px);
    background-color: yellowgreen;
  }
}

.box8{
  width: 150px;
  height: 100px;
  background-color: yellowgreen;
  border-radius: 10px;
  margin: 10px;
  animation: palystate 3s linear infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box8::before{
  content: "play state(Running)";
}
.box8:hover{
  animation-play-state: paused;
  background-color: red;
}
.box8:hover::before{
  content: "play state(Paused)";
}
@keyframes palystate{
  0%{
    width: 150px;
  }
  100%{
    width: 100%;
  }
}
p{
  color: blue;
  /* text-align: justify; */
  text-align: left;
  columns: 150px 3;
  /* column-width: 150px;
  column-count: 3; */
  column-gap: 10px;
  column-rule: 2px dashed red ;
  /* column-rule-width: 2px;
  column-rule-style: dashed;
  column-rule-color: red; */
}