a:hover{
  font-weight: bold;
  font-size: 30px;
}

.box{
  width: 100px;
  height: 100px;
  background-color: red;
  /* 애니메이션효과 */
  transition: 0.4s;
}
.box:hover{
  width: 200px;
  height: 200px;
}
